* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    margin-top: 15px;
    width: 342px;
    font-size: 11px;
}

#text2 {
    border: 9px solid blue;
    padding: 31.5px;
}
