* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    justify-content: center;
}

div {
    background: blue;
    margin-top: 5px;
    width: 412px;
    font-size: 11px;
    color: white;
}